---
network:
  version: 2
  ethernets:
    {{ outside_interface.name }}:
      dhcp4: false 
      addresses: 
      - {{ outside_interface.ip  }}/{{  outside_interface.cidr }}
{% for sam in sams }} %}
      - {{ outside_interface.ip  }}/{{  outside_interface.cidr }}
{% endfor %}
      gateway4: {{ outside_interface.gw }}
      optional: true
    {{ inside_interface.name }}:
      dhcp4: false
      optional: true
      addresses: [{{ inside_interface.ip  }}/{{  inside_interface.cidr }}]
      nameservers:
        addresses:
        - {{ public_dns }}

